<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.binggo.msgsender.generate.mapper.MailRecordMapper" >
  <resultMap id="BaseResultMap" type="org.binggo.msgsender.generate.model.MailRecord" >
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="receivers" property="receivers" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="INTEGER" />
    <result column="send_result" property="sendResult" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.binggo.msgsender.generate.model.MailRecord" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <insert id="insert" parameterType="org.binggo.msgsender.generate.model.MailRecord" >
    insert into mail_records (subject, receivers, source, 
      send_time, send_result, content
      )
    values (#{subject,jdbcType=VARCHAR}, #{receivers,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{sendTime,jdbcType=INTEGER}, #{sendResult,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.binggo.msgsender.generate.model.MailRecord" >
    insert into mail_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subject != null" >
        subject,
      </if>
      <if test="receivers != null" >
        receivers,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="sendResult != null" >
        send_result,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="receivers != null" >
        #{receivers,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=INTEGER},
      </if>
      <if test="sendResult != null" >
        #{sendResult,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>